body {
    font-family: 'Inter', sans-serif;
}

.cart h1 {
    margin-top: 120px;
    text-align: center;
}

.cart-table table {
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

.cart-table th {
    font-size: 25px;
}

.cart-table td {
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.change-quantity-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.quantity-text-span {
    margin-left: 10px;
    margin-right: 10px;
}
