@font-face {
    font-family: 'Borsok';
    src: url('/fonts/Borsok.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_28pt-Light.ttf format') format('ttf');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Inter', sans-serif; /* Postavlja Inter kao zadani font */

}

header {
    display: grid;
    grid-template-columns: 1fr 2fr auto; /* 3 stupca: lijevi, srednji, desni */
    align-items: center; /* Poravnanje elemenata po visini */
    font-size: 20px;
    font-weight: bold;
}

.logo img {
    width: 375px; /* Postavite željenu širinu */
    height: auto; /* Automatski prilagodite visinu prema omjeru slike */
}

.icon {
    text-align: right; /* Aligns the container to the right */
    display: flex; /* Use Flexbox for alignment */
    align-items: center; /* Vertically aligns the icons */
    gap: 50px; /* Adds spacing between the icons */
    margin-right: 30px; /* Adds some space from the right edge */
}

.icon img {
    width: 60px; /* Set a consistent width for both icons */
    height: 60px; /* Set a consistent height for both icons */
    cursor: pointer; /* Adds a pointer cursor for interactivity */
}


.picture_text {
    margin-bottom: 10px; /* Razmak između teksta i slike */
}

.picture img {
    width: 500px; /* Postavite željenu širinu */
    height: auto; /* Automatski prilagodite visinu prema omjeru slike */
}

.products {
    display: flex; /* Postavlja proizvode u red */
    flex-wrap: wrap; /* Omogućuje prelamanje proizvoda u novi red ako nema dovoljno prostora */
    gap: 30px; /* Razmak između proizvoda */
    margin: 20px 0; /* Razmak iznad i ispod kontejnera */
}

.product {
    display: flex;
    flex-direction: column; /* Postavlja elemente unutar proizvoda u stupac */
    align-items: center; /* Centriranje elemenata horizontalno */
    justify-content: flex-start; /* Poravnanje elemenata prema vrhu */
    width: 270px; /* Širina proizvoda */
    border: 1px solid #ccc; /* Svijetlo sivi obrub */
    padding: 10px; /* Dodaje razmak unutar proizvoda */
    padding-top: 20px;
    border-radius: 5px; /* Zaobljeni rubovi */
    text-align: center; /* Centriranje teksta */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Blaga sjena za efekt */
}

.product img {
    width: 250px; /* Širina slike */
    height: 250px; /* Visina slike */
    object-fit: cover; /* Održava omjer slike */
    margin-bottom: 10px; /* Razmak između slike i teksta */
    border-radius: 5px; /* Zaobljeni rubovi slike */
}

.product p {
    font-size: 20px; /* Veličina fonta za tekst */
    margin: 5px 0; /* Razmak između redaka teksta */
}

