@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_28pt-Light.ttf format') format('ttf');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Inter', sans-serif; /* Postavlja Inter kao zadani font */
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr auto; /* 3 stupca: lijevi, srednji, desni */
    align-items: center; /* Poravnanje elemenata po visini */
    font-size: 20px;
    font-weight: bold;
}

.logo img {
    width: 375px; /* Postavite željenu širinu */
    height: auto; /* Automatski prilagodite visinu prema omjeru slike */
}

.icon-container {
    text-align: right; /* Aligns the container to the right */
    display: flex; /* Use Flexbox for alignment */
    align-items: center; /* Vertically aligns the icons */
    gap: 50px; /* Adds spacing between the icons */
    margin-right: 30px; /* Adds some space from the right edge */
    margin-left: 20px;
}

.icon-container .icon-cart img,  
.icon-container .icon-search img {
    width: 60px; /* Set a consistent width for both icons */
    height: 60px; /* Set a consistent height for both icons */
    cursor: pointer; /* Adds a pointer cursor for interactivity */
}

.icon-cart {
    position: relative; /* Postavlja roditelja kao referentni okvir za apsolutno pozicioniranje */
}

.icon-cart .icon-cart-count {
    position: absolute; /* Omogućuje pozicioniranje unutar roditelja */
    margin: 0;
    bottom: 0; /* Odmak od dna */
    right: 0; /* Odmak od desnog ruba */
    width: 30px; /* Širina kruga */
    height: 30px; /* Visina kruga */
    background-color: red; /* Boja pozadine */
    color: white; /* Boja teksta */
    text-align: center; /* Centriranje teksta horizontalno */
    line-height: 30px; /* Centriranje teksta vertikalno */
    border-radius: 50%; /* Pretvara kvadrat u krug */
    font-size: 16px; /* Veličina fonta */
    font-weight: bold; /* Podebljani tekst */
}


.picture {
    position: relative;
}

.picture img {
    width: 100%;
    height: auto; 
    border-radius: 10px;
}

.picture .picture_text {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 10%; /* Postavlja tekst na 50% visine roditelja */
    left: 50%; /* Postavlja tekst na 50% širine roditelja */
    transform: translateX(-50%); /* Horizontalno centriranje */

    font-size: 50px;
    text-align: center;
}

