.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    justify-items: center;
    gap: 30px; /* Razmak između proizvoda */
    margin: 20px 0; /* Razmak iznad i ispod kontejnera */
}

.product {
    display: flex;
    flex-direction: column; /* Postavlja elemente unutar proizvoda u stupac */
    align-items: center; /* Centriranje elemenata horizontalno */
    justify-content: flex-start; /* Poravnanje elemenata prema vrhu */
    width: 270px; /* Širina proizvoda */
    border: 1px solid #ccc; /* Svijetlo sivi obrub */
    padding: 10px; /* Dodaje razmak unutar proizvoda */
    padding-top: 20px;
    border-radius: 5px; /* Zaobljeni rubovi */
    text-align: center; /* Centriranje teksta */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Blaga sjena za efekt */
}

.product p {
    font-size: 20px; /* Veličina fonta za tekst */
    margin: 5px 0; /* Razmak između redaka teksta */
}

.product .image-container {
    position: relative;
    width: 250px; /* Širina slike */
    height: 250px; /* Visina slike */
    margin-bottom: 10px; /* Razmak između slike i teksta */
    border-radius: 5px; /* Zaobljeni rubovi slike */
}

.product-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.cart-overlay {
    position: absolute;
    bottom: 10%; /* Centriranje po vertikali */
    left: 50%; /* Centriranje po horizontali */
    transform: translate(-50%, 0); /* Precizno centriranje */
    width: 75px; /* Širina ikone */
    height: 75px; /* Visina ikone */
    opacity: 0; /* Skriva ikonu dok nije hover */
    transition: opacity 0.3s ease; /* Animacija za glatki prijelaz */
    cursor: pointer;
}

.image-container:hover .cart-overlay {
    opacity: 1;
}

.image-container:hover .product-image{
    opacity: 0.5;
}

.image-container .product-cart-count {
    position: absolute; /* Omogućuje pozicioniranje unutar image-container */
    bottom: 0; /* Odmak od dna */
    right: 0; /* Odmak od desnog ruba */
    margin: 0;
    width: 35px; /* Širina kruga */
    height: 35px; /* Visina kruga */
    background-color: red; /* Boja pozadine */
    color: white; /* Boja teksta */
    text-align: center; /* Centriranje teksta horizontalno */
    line-height: 35px; /* Centriranje teksta vertikalno */
    border-radius: 50%; /* Pretvara kvadrat u krug */
    font-size: 16px; /* Veličina fonta */
    font-weight: bold; /* Podebljani tekst */
}